@import "index.css";

.scroll {
  --title-offset: 0px;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  padding-top: var(--title-offset);
}

.scroll > .section {
  height: 100vh;
  scroll-snap-align: start;
}

.fixed-title {
  position: fixed;
  top: 0;
  left: 0;
  padding: 80px 80px 0;
  max-width: 600px;
  pointer-events: none;
  z-index: 10;
}
.fixed-title h1 {
  margin: 0 0 0.25em;
  font-size: 5em;
  font-weight: 700;
  line-height: 1em;
  color: #261201;
  -webkit-font-smoothing: auto;
}
.highlight {
  color: #ed8008;
}

.dot {
  top: var(--title-offset);
  padding-top: 0;
}
